/* Garante que não haja rolagem lateral */
html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    overflow-x: hidden;
    max-width: 100vw;
}

/* Evita que elementos cresçam além da largura */
* {
    box-sizing: border-box;
}

@media(max-width: 700px) {
    body {
        width: 100%;
    }
}

.theme-container {
    background-color: #579BB1;
    transition: all 400ms ease;
}

.night-mode .theme-container {
    background-color: #0A2647;
    transition: all 400ms ease;
}

.menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
    img{
        height: 25px;
        width: 25px;
        margin-right: 7px;
    }
}

.img-nav{
    display: flex;

}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: transparent;
    padding-left: 20px;
    list-style: none;

    ul {
        list-style: none;

        a {
            text-decoration: none;
        }
    }
}

@media(max-width: 768px) {
    .navbar {
        display: none;
    }
}

.drop-down-menu {
    width: 400px;
    background-color: #0A2647;
    display: flex;
    flex-direction: column;
}

.drop-down-container {
    img {
        width: 20px;
        color: white;
    }
}

@media(min-width: 768px) {
    .drop-down-menu {
        display: none;
    }
}

.main {
    margin: 1rem;
    padding: 0;
}

@media(max-width: 768px) {
    .main {
        margin: 5px;
    }
}

.logo-drop-down{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

a {
    color: rgb(233, 233, 233);
}

a:hover {
    color: white;
}

.logo {
    height: 95px;
    width: 95px;
    border-radius: 100%;
}

.img-drop-down{
    display: flex;
    justify-content: space-around;
    height: 25px;
    width: 80%;
    cursor: pointer;
}

/* Ajustes nos containers principais */
.container,
.navbar,
.slider-wrapper,
.most-rented-container,
.genre-container {
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
}

.container {
    height: 70vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin: 10px;
    justify-content: center;
    padding-top: 25px;
}

.card {
    background-color: #ddd8c6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 310px;
    width: 180px;
    margin-right: 20px;
    box-shadow: 0 2px 5px #4287d6;
    border-radius: 5px;
    position: relative;
}

.card img {
    height: 80%;
    width: 90%;
    margin-bottom: 10px;
}

/* .card img:hover {
    height: 305px;
    width: 205px;
    transition: all 200ms;
} */

.div-cover {
    height: 305px;
    width: 175px;
    transition: all 200ms ease;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 5px;

    a {
        color: #8d7f58;
        /* transition: all 100ms; */
        font-weight: bolder;
        text-align: center;
    }
}

.div-cover:hover {
    height: 310px;
    width: 180px;
    background-color: rgba(0, 0, 0, 0.7);

    a {
        color: white;
        background-color: #242424;
        width: 100%;
        border-radius: 5px;
    }
}

.container-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 100vw;
}

.slides-container {
    height: 60vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px 5px 0 0;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slide1 {
    background-image: linear-gradient(to right, #1a306e, #26cfe0);
}

#slide2 {
    background-color: #cf824a;
}

#slide3 {
    background: #4aa088;
}

#slide4 {
    background-color: #251953;
}

#slide5 {
    background-color: #ffaecd;
}

.genre-container {
    background-color: rgb(65, 114, 155);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5px 5px;
}

.night-mode .genre-container {
    background-color: #144272;
}

.content-slide {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}

.content-slide img {
    max-width: 60%;
    height: 50%;
}

@media(max-width:768px) {
    .content-slide img {
        max-width: 100%;
        height: 50%;
    }
}

.genre-card {
    font-family: "Edu VIC WA NT Beginner";
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    height: 80px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.767);
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 5px 5px #242424;
    text-align: center;
    color: #575757;
    transition: all 300ms;
}

.night-mode .genre-card {
    background-color: #5791dd;
}

.genre-card:hover {
    cursor: pointer;
    background-color: #ffffff;
    transition: all 300ms;
}

.night-mode .genre-card:hover {
    background-color: #96bbe6;
    color: #F8F4EA;
}

@media (max-width: 768px) {
    .genre-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 500px) {
    .genre-card {
        width: calc(100% - 20px);
    }
}

.most-rented {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 0;
    box-shadow: 0 5px 5px #242424;
    border-radius: 2px;
}

.most-rented-container {
    width: 100%;
    height: auto;
    padding: 30px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.most-rented-card {
    background-color: #9bb6d4;
    color: #d3dfdf;
    align-items: center;
    height: 100px;
    width: 200px;
    border: #242424 1px solid;
    margin: 5px;
    display: flex;
    padding: 2px;
    font-size: 15px;
    position: relative;
    text-shadow: #242424 1px 1px;
    font-family: "Alkatra", system-ui;
    font-optical-sizing: auto;
    font-weight: bold;
}

.most-rented-card img {
    height: 90px;
    width: 70px;
    margin-right: 5px;
    position: relative;
}

.item-list {
    font-family: "Alkatra", system-ui;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 30px;
    color: black;
    position: absolute;
    z-index: 10;
    bottom: 36px;
    color: rgb(187, 218, 13);
    text-shadow: #242424 2px 2px;
}

.list-books {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer {
    height: 8em;
    background-color: transparent;
}

.theme-toggle-container {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 2px;
}

.button-container {
    height: 25px;
    width: 80px;
    background-color: #F8F4EA;
    border-radius: 20px 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;

    button {
        border-radius: 100%;
        height: 22px;
        width: 22px;
        background-color: #0A2647;
        border: 2px solid black;
        transition: all 400ms ease;
    }
}

.night-mode #btn {
    transform: translate(57px);
    background-color: #579BB1;
    border: 2px solid rgb(75, 134, 161);
}

.modal-sign-in {
    height: 400px;
    width: 250px;
    background-color: #9bb6d4;
}

.modal-container {
    position: absolute;
    display: none;
}

.modal-toggle .modal-container {
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 400px;
    visibility: visible;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    color: #333;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-input,
.form-select,
.form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.form-button:hover {
    background-color: #218838;
}

.form-overflow {
    overflow: auto;
    height: 100vh;
}
.cadastrar-livro {
    width: 100%;
    display: flex;
    justify-content: center;

}

.botao-cadastrar {
    height: 50px;
    width: 90px;
    border-radius: 5px;
    border-color: #4287d6;
    background-color: #ddd8c6;
    color: #8d7f58;
    cursor: pointer;
}

.botao-cadastrar:hover {
    background-color: rgb(114, 114, 114);
    color: white;
    transition: all 200ms;
}

.arrow {
    height: 30px;
    width: 30px;
    margin: 20px;
    cursor: pointer;
}



